
html,
body {
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100%;
	margin: 0;
	margin-bottom: 300px;
}


#track .attached.mainmenu.button {
	position: fixed;
	top: 100px;
	right: 0px;
}

#menu {
	z-index: 1000;
}

#track .main.menu .item {
	padding: 1.1em 2.0em;
}

#track .ui.fixed.menu + .ui.grid {
	padding-top: 3.75rem;
}

#track .main.menu h3 {
	margin: 0px;
}


.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 350px;
	background: #FFF;
	border: 1px solid #CCC;
}

.footer .ui.menu {
	margin: 0px;

	border-top-left-radius: 	0px;
	border-bottom-left-radius: 	0px;
	border-top-right-radius: 	0px;
	border-bottom-left-radius: 	0px;
		
}

.gmap_container {
	display:block;
	float: right;
	overflow: hidden;
	height: 100%;
}

#gmap_canvas {
	height: 100%;
	width: 300px;
}

.page.grid > .ui.menu {
	margin-bottom: 45px;
}

#track h1 {
	margin-top: 0em;
}

#track .laplist {

	border-radius: 				0px;

	border-top-left-radius: 	0px;
	border-bottom-left-radius: 	0px;
	border-top-right-radius: 	0px;
	border-bottom-left-radius: 	0px;

	margin-left: 0px;
	margin-bottom: 0px;

	height: 100%;
	width: 125px;

}

#track .mapmenu {

	border-top-left-radius: 	0px;
	border-bottom-left-radius: 	0px;

	margin-left: 0px;
	margin-bottom: 0px;

	height: 100%;

}

#track .celled {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.map {
	height: 350px;
}

.plotcontainer {
	height: 300px;
	padding-bottom: 20px;
}

.positionplot {
	height: 100%;
	display: block;
	overflow: hidden;
}

.ggplot {
	float: right;
	height: 100%;
	width: 300px;
	display: block;
}

input[type='file'] {

	display: none;

}